#bookTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
  margin: auto;
}

#bookTable td,
#bookTable th {
  width: 200px;
  padding: 3px;
  overflow: hidden;
}

#bookTable td.bookTablePictureAndPrice {
  max-width: 100px;
  overflow: hidden;
}

#bookTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#bookTable tr:hover {
  background-color: #ddd;
}

#bookTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #862633;
  color: white;
}

img.bookTableResize {
  max-width: 200px;
  max-height: auto;
  width: 100%;
  height: auto;
}

ol.bookTableDetails {
  padding: -10px;
  width: 400px;
  overflow: wrap;
  vertical-align: top;
}
ol.bookTableDetailsTitle {
  line-height: 26px;
  font-size: 24px;
  font-weight: 700;
  padding: -10px;
  width: 600px;
  overflow: hidden;
  vertical-align: bottom;
  white-space: nowrap;
}

ol.bookTableDescription {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 500px;
  width: auto;
  height: 16px * 14px * 3; /* Fallback for non-webkit */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

ol.bookTableEdition {
  line-height: 0px;
  font-size: 14px;
  color: rgb(90, 86, 86);
  width: 400px;
  vertical-align: top;
  padding-bottom: 6px;
}
ol {
  padding-top: 0px;
  padding-bottom: 0px;
}

.BookandPrice {
  position: relative;
  text-align: left;
  color: rgb(255, 255, 255);
  
}
.bottom-right {
  font-size: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: rgba(0, 0, 0, 0.459);
}
