#bookTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
  margin: auto;
  margin-left: 40px;
  overflow: hidden;
}

#bookTable td,
#bookTable th {
  width: 200px;
  padding: 3px;
  overflow: hidden;
}

#bookTable td.bookTablePictureAndPrice {
  max-width: 100px;
  overflow: hidden;
}

#bookTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#bookTable tr:hover {
  background-color: #ddd;
}

#bookTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #862633;
  color: white;
}

img.bookTableResize {
  max-width: 200px;
  max-height: auto;
  min-width: 50px;
  min-height: 50px;
  width: 100%;
  height: auto;
}

ol.bookTableDetails {
  padding: -10px;
  width: 400px;
  overflow: wrap;
  vertical-align: top;
}
ol.bookTableDetailsTitle {
  line-height: 26px;
  font-size: 24px;
  font-weight: 700;
  padding: -10px;
  width: 600px;
  overflow: hidden;
  vertical-align: bottom;
  white-space: nowrap;
}

ol.bookTableDescription {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 500px;
  width: auto;
  height: 16px * 14px * 3 * 2; /* Fallback for non-webkit */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

ol.bookTableEdition {
  line-height: 0px;
  font-size: 14px;
  color: rgb(90, 86, 86);
  width: 400px;
  vertical-align: top;
  padding-bottom: 6px;
}
ol {
  padding-top: 0px;
  padding-bottom: 0px;
}

.BookandPrice {
  position: relative;
  text-align: left;
  color: rgb(255, 255, 255);
}
.bottom-right {
  font-size: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: rgba(0, 0, 0, 0.459);
}

ul.dropdown-menu {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 10000;
  overflow: visible !important;
}

div.dropdown {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 10000;
  overflow: visible !important;
}

ol.filters {
  width: 140px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin-top: -2px;
  margin-bottom: -2px;
}
table.filterSelection {
  display: none;
}
.accordion {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  margin-left: 40px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  min-width: 500px;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 40px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  margin-left: 40px;
  transition: max-height 0.2s ease-out;
  width: auto;
  min-width: 400px;
}


table.filters{
  position: fixed;
  vertical-align: top;
  left: 10px;
  top: 250px;
  text-align: left;
  max-width: 200px;
  width: 20px;
  border-right: 1px solid black;
  z-index: 9999999;
  background: white;
}
