<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>All Books</title>

    <link rel="shortcut icon" href="/img/msu-favicon.png" th:href="@{/img/msu-favicon.png}" type="image/x-icon" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/index/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
    />

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/index/vendor/font-awesome/css/font-awesome.min.css}"
        rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'
    />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' />

    <!-- Custom styles for this template -->
    <link href="/css/index.css" th:href="@{/index/css/index.css}" rel="stylesheet" type="text/css" />
    <link href="/css/books.css" th:href="@{/books/css/books.css}" rel="stylesheet" type="text/css" />
    <link href="/css/searchBar.css" th:href="@{/searchBar/css/searchBar.css}" rel="stylesheet" type="text/css" />

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">

            <a class="navbar-brand js-scroll-trigger" href="/">
                <img class="msuTexasLogo" src="img/msu-texas-logo1.png" th:src="@{/searchBar/img/msu-texas-logo1.png}" alt="" />Book Share</a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/bookAd/new">Post Ad</a>
                    </li>
                    <li>

                        <form class="searchBar">
                            <input type="text" placeholder="Search.." name="searchBar" />
                            
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <section class="bg-light" id="books">
        <div class="container">
            <div th:if="${not #lists.isEmpty(books)}">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase"></h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <button class="accordion">Sort By</button>
                <div class="panel">
                    <table id="filterSelections">
                        <form>
                            <tr>
                                <td>
                                    <ol class="filters">
                                        <input type="radio" name="sort" value="sortTitle" onClick="location.href='/books/all?sortBy=title'" />
                                        <label for="aortTitle">Title</label>

                                    </ol>
                                    <ol class="filters">
                                        <input type="radio" name="sort" value="sortAuthor" onClick="location.href='/books/all?sortBy=author'" />
                                        <label for="sortAuthor">Author</label>

                                    </ol>
                                    <ol class="filters">
                                        <input type="radio" name="sort" value="sortPrice" onClick="location.href='/books/all?sortBy=price'" />
                                        <label for="sortPrice">Price</label>
                                    </ol>
                                </td>

                            </tr>
                        </form>
                    </table>
                </div>


                <table class="filters">
                    <td>
                        <form>

                            <ol class="filters">
                                Categories:
                            </ol>

                            <ol class="filters">
                                <input type="radio" id="categories" name="categories" value="all" />
                                <label for="all">All</label>
                            </ol>
                            <ol class="filters">
                                <input type="radio" id="categories" name="categories" value="math" />
                                <label for="math">Math</label>
                            </ol>
                            <ol class="filters">
                                <input type="radio" id="categories" name="categories" value="business" />
                                <label for="math">Business</label>
                            </ol>
                            <ol class="filters">
                                <input type="radio" id="categories" name="categories" value="computer" />
                                <label for="cs">Comp. Sci.</label>
                            </ol>
                            <ol class="filters">
                                <input type="radio" id="categories" name="categories" value="science" />
                                <label for="ns">Science</label>
                            </ol>
                            <ol class="filters">
                                <input type="radio" id="categories" name="categories" value="english" />
                                <label for="engl">English</label>
                            </ol>
                            <ol class="filters">
                                <input type="radio" id="categories" name="categories" value="engineering" />
                                <label for="engi">Engineering</label>
                            </ol>
                            <ol>

                            </ol>
                            <ol class="filters">Filter By:</ol>
                            <ol class="filters">
                                <input type="radio" id="filterBy" name="filterBy" value="buy" />
                                <label for="buy">Buy</label>
                            </ol>
                            <ol class="filters">
                                <input type="radio" id="filterBy" name="filterBy" value="rent" />
                                <label for="rent">Rent</label>
                            </ol>
                            <ol class="filters">
                                <input type="radio" id="filterBy" name="filterBy" value="free" />
                                <label for="free">Free</label>
                            </ol>
                            <ol>

                            </ol>
                            <button type="submit">Apply</button>
                        </form>
                    </td>
                </table>

                <table class="table table-striped bookTable" id="bookTable">
                    <tr>
                    </tr>
                    <tr th:each="bookAd : ${books}">
                        <td class="bookTablePictureAndPrice">

                            <a th:href="${'/bookAd/' + bookAd.id}">
                                <div class="BookandPrice">
                                    <img class="bookTableResize" th:src="${bookAd.imageUrl}" />
                                    <div class="bottom-right" th:text="${bookAd.price}">

                                    </div>
                                </div>
                            </a>

                        </td>
                        <td>
                            <ol class="bookTableDetailsTitle left" th:text="${bookAd.title}"></ol>
                            <ol class="bookTableEdition left" th:text="${bookAd.edition}"></ol>
                            <ol class="bookTableDetails left" th:text="${'ISBN: '+bookAd.ISBN}"></ol>
                            <ol class="bookTableDetails left" th:text="${'Author: '+bookAd.author}"></ol>
                            <ol class="bookTableDescription left" th:text="${bookAd.description}"></ol>
                        </td>

                    </tr>
                    <tr>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <div class="footer">
        <p>
            <a class ="terms" href="https://app.termly.io/document/terms-of-use-for-website/4d036d05-aff8-4ac6-9de5-457982fa0f20">Terms and Conditions</a>

        </p>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js" th:src="@{/index/vendor/jquery/jquery.min.js}"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/index/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js" th:src="@{/index/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js" th:src="@{/index/js/jqBootstrapValidation.js}"></script>
    <script src="js/contact_me.js" th:src="@{/index/js/contact_me.js}"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js" th:src="@{/index/js/agency.min.js}"></script>

    <script src="js/books.js" th:src="@{/books/js/books.js}"></script>

</body>

</html>