<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>All Books</title>

    <link rel="shortcut icon" href="/img/msu-favicon.png" th:href="@{/img/msu-favicon.png}" type="image/x-icon" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/index/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
    />

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/index/vendor/font-awesome/css/font-awesome.min.css}"
        rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'
    />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' />

    <!-- Custom styles for this template -->
    <link href="/css/index.css" th:href="@{/index/css/index.css}" rel="stylesheet" type="text/css" />
    <link href="/css/books.css" th:href="@{/books/css/books.css}" rel="stylesheet" type="text/css" />
    <link href="/css/searchBar.css" th:href="@{/searchBar/css/searchBar.css}" rel="stylesheet" type="text/css" />
    <link href="/css/books.css" th:href="@{/books/css/bookAd.css}" rel="stylesheet" type="text/css" />

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">

            <a class="navbar-brand js-scroll-trigger" href="/">
                <img class="msuTexasLogo" src="img/msu-texas-logo1.png" th:src="@{/searchBar/img/msu-texas-logo1.png}" alt="" />Book Share</a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/books/all">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/bookAd/new">Post Ad</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="bg-light" id="books">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase"></h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <table>
                <tr>

                    <td class="topLeft userSec">
                        <ol class="contactMe" th:text="${bookAd.price}"></ol>
                        <img class="adImage" th:src="${bookAd.imageUrl}" />
                        <ol class="userSec" th:text="${'ISBN: '+bookAd.ISBN}"></ol>
                        <ol class="userSec" th:text="${'Owner: '+bookAd.userName}"></ol>
                        <ol class="userSec" th:text="${bookAd.email}"></ol>
                        <ol class="userSec" th:text="${bookAd.phoneNumber}"></ol>
                    </td>
                    <td class="topLeft">
                        <ol class="bookAdDetailsTitle" th:text="${bookAd.title+', '+bookAd.edition}"></ol>
                        <ol class="bookAdDetails" th:text="${'Author: '+bookAd.author+', '+bookAd.publisher}"></ol>
                        <ol class="bookAdDetails" th:text="${'Condition: '+bookAd.condition+', '+bookAd.type}"></ol>
                        <ol class="bookAdDetails" th:text="${'Course: '+bookAd.courseName+', '+bookAd.courseNum}"></ol>
                        <ol class="bookAdDetails" th:text="${bookAd.description}"></ol>
                    </td>
                </tr>

            </table>
            <table>
                <tr>
                    <td>
                        <a href="#edit" class="btn btn-danger center">Edit Ad</a>


                        <div id="edit" class="modalDialog">
                            <div>
                                <a href="#close" title="Close" class="close">X</a>
                                <form>
                                    <input class="form-control" type="password" placeholder="Hash Key" name="edit" />
                                    <button class="btn btn-danger center" type="submit">Edit Ad</button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td class="space">
                    </td>
                    
                    <td>
                        <a href="#delete" class="btn btn-danger center">Delete Ad</a>

                        <div id="delete" class="modalDialog">
                            <div>
                                <a href="#close" title="Close" class="close">X</a>
                                <form>
                                    <input class="form-control" type="password" placeholder="Hash Key" name="delete" />
                                    <button class="btn btn-danger center" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

    </section>

    <div class="footer">
        <p>
            <a class="terms" href="https://app.termly.io/document/terms-of-use-for-website/4d036d05-aff8-4ac6-9de5-457982fa0f20">Terms and Conditions</a>
        </p>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js" th:src="@{/index/vendor/jquery/jquery.min.js}"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/index/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js" th:src="@{/index/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js" th:src="@{/index/js/jqBootstrapValidation.js}"></script>
    <script src="js/contact_me.js" th:src="@{/index/js/contact_me.js}"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js" th:src="@{/index/js/agency.min.js}"></script>

    <script src="js/books.js" th:src="@{/books/js/books.js}"></script>

    <script src="js/bookAd.js" th:src="@{/bookAd/js/bookAd.js}"></script>

</body>

</html>